name: CI
on: [push, pull_request]
jobs:
  build:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        # https://github.com/requests-cache/requests-cache/issues/845
        python-version: [3.9, '3.10', '3.11', pypy-3.10] # 3.12
        exclude:
          # https://github.com/pypy/pypy/issues/5027
          - os: windows-latest
            python-version: pypy-3.10
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml
      - if: matrix.os == 'ubuntu-latest' && matrix.python-version == 'pypy-3.10'
        run: |
          sudo apt update
          sudo apt install libxml2-dev libxslt-dev
      - run: pip install .[test]
      # https://github.com/OpenDataServices/flatten-tool/pull/458
      - run: pytest -W error -W ignore::DeprecationWarning:ijson.compat
      - run: pip install .[web]
      # https://github.com/OpenDataServices/flatten-tool/pull/458
      - run: coverage run --source=libcoveocds -m pytest -W error -W ignore::DeprecationWarning:ijson.compat
      - uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
